.container {
	padding: 0;
	margin: 0;
	width: 100%;
}

.container .btn:hover {
	background-color: black;
}

@media only screen and (min-width:150px) and (max-width:1000px) {
	.bigBanner1 {
		content: url("../images/half1_updated.jpg");
		/*---Banner1 in mobile view----*/
		width: 100%;
		height: 100%;
	}
	.container .btn {
		background-color: #555;
		color: white;
		font-size: 16px;
		padding: 12px 24px;
		/*---watch video button placement in mobile view----*/
		border: none;
		cursor: pointer;
		border-radius: 5px;
		margin: 150% 0px 0px 30%;
		position: absolute;
	}
	.bigBanner2 {
		content: url("../images/banner2_half_updated.jpg");
		/*---Banner2 in mobile view----*/
		width: 100%;
		height: 100%;
	}
	.container .btn2 {
		background-color: #555;
		color: white;
		font-size: 16px;
		padding: 12px 24px;
		/*---Know More button placement in mobile view----*/
		border: none;
		cursor: pointer;
		border-radius: 5px;
		margin: 113% 0px 0px 33%;
		position: absolute;
	}
	.bigBanner3 {
		content: url("../images/banner3_half_updated.jpg");
		/*---Banner3 in mobile view----*/
		width: 100%;
		height: 100%;
	}
	.container .btn3 {
		background-color: #555;
		color: white;
		font-size: 16px;
		padding: 12px 24px;
		/*---Know More button placement in mobile view----*/
		border: none;
		cursor: pointer;
		border-radius: 5px;
		margin: 103% 0px 0px 45%;
		position: absolute;
	}
	.bigBanner4 {
		content: url("../images/banner4_half_updated.jpg");
		/*---Banner4 in mobile view----*/
		width: 100%;
		height: 100%;
	}
	.container .btn4 {
		background-color: #555;
		color: white;
		font-size: 16px;
		padding: 12px 24px;
		/*---Know More button placement in mobile view----*/
		border: none;
		cursor: pointer;
		border-radius: 5px;
		margin: 102% 0px 0px 30%;
		position: absolute;
	}
	.bigBanner5 {
		content: url("../images/banner5_half_updated.jpg");
		/*---Banner5 in mobile view----*/
		width: 100%;
		height: 100%;
	}
	.container .btn5 {
		background-color: #555;
		color: white;
		font-size: 16px;
		padding: 12px 24px;
		/*---Know More button placement in mobile view----*/
		border: none;
		cursor: pointer;
		border-radius: 5px;
		margin: 150% 0px 0px 15%;
		position: absolute;
	}
}

@media only screen and (min-width:1001px) {
	.bigBanner1 {
		content: url("../images/Banner_1.jpg");
		/*---Banner1 in desktop view----*/
		width: 100%;
		height: 100%;
	}
	.container .btn {
		background-color: #555;
		color: white;
		font-size: 16px;
		padding: 12px 24px;
		border: none;
		cursor: pointer;
		/*---watch video button placement in desktop view----*/
		border-radius: 5px;
		margin: 30% 0px 0px 10%;
		position: absolute;
	}
	.bigBanner2 {
		content: url("../images/banner2_1.jpg");
		/*---Banner2 in desktop view----*/
		width: 100%;
		height: 100%;
	}
	.container .btn2 {
		background-color: #555;
		color: white;
		font-size: 16px;
		padding: 12px 24px;
		border: none;
		cursor: pointer;
		/*---Know More button placement in desktop view----*/
		border-radius: 5px;
		margin: 23% 0px 0px 60%;
		position: absolute;
	}
	.bigBanner3 {
		content: url("../images/banner_3New.jpg");
		/*---Banner3 in desktop view----*/
		width: 100%;
		height: 100%;
	}
	.container .btn3 {
		background-color: #555;
		color: white;
		font-size: 16px;
		padding: 12px 24px;
		border: none;
		cursor: pointer;
		/*---Know More button placement in desktop view----*/
		border-radius: 5px;
		margin: 23% 0px 0px 33%;
		position: absolute;
	}
	.bigBanner4 {
		content: url("../images/banner4New.jpg");
		/*---Banner4 in desktop view----*[../../assets/] */
		width: 100%;
		height: 100%;
	}
	.container .btn4 {
		background-color: #555;
		color: white;
		font-size: 16px;
		padding: 12px 24px;
		border: none;
		cursor: pointer;
		/*---Know More button placement in desktop view----*/
		border-radius: 5px;
		margin: 26% 0px 0px 59%;
		position: absolute;
	}
	.bigBanner5 {
		content: url("../images/banner5New.jpg");
		/*---Banner5 in desktop view----*/
		width: 100%;
		height: 100%;
	}
	.container .btn5 {
		background-color: #555;
		color: white;
		font-size: 16px;
		padding: 12px 24px;
		border: none;
		cursor: pointer;
		/*---Know More button placement in desktop view----*/
		border-radius: 5px;
		margin: 39% 0px 0px 52%;
		position: absolute;
	}
}